<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
    <p>
        Team Name:
        <input type="text" name="team[name]" />
    </p>
    <p>
        Team Motto:
        <input type="text" name="team[motto]" />
    </p>

    <p>
        <h2>Hero 1</h2>
        <label for="member1_name">Member 1</label>
        <input type="text" id="member1_name" name="team[members][][name]" /><br />
        <label for="member1_power">Power</label>
        <input type="text" id="member1_power" name="team[members][][power]" /><br />
        <label for="member1_bio">Bio</label>
        <input type="text" id="member1_bio" name="team[members][][bio]" />
    </p>
    
    <p>
        <h2>Hero 3</h2>
        <label for="member2_name">Member 2</label>
        <input type="text" id="member2_name" name="team[members][][name]" /><br />
        <label for="member2_power">Power</label>
        <input type="text" id="member2_power" name="team[members][][power]" /><br />
        <label for="member1_bio">Bio</label>
        <input type="text" id="member1_bio" name="team[members][][bio]" />
    </p>
    
    <p>
        <h2>Hero 3</h2>
        <label for="member3_name">Member 3</label>
        <input type="text" id="member3_name" name="team[members][][name]" /><br />
        <label for="member3_power">Power</label>
        <input type="text" id="member3_power" name="team[members][][power]" /><br />
        <label for="member1_bio">Bio</label>
        <input type="text" id="member1_bio" name="team[members][][bio]" />
    </p>

    <input type="submit" name="submit" value="submit" />
</form>