<h1>Teams</h1>

<table>
    <tbody>
        <% @teams.each do |team| %>
            <tr><td>Name: <%= team[:name] %></td>
                <td>Power: <%= team[:power] %></td></tr>
        <% end %>
    </tbody>
</table>


